<article class="container-xxl my-5 p-4">
  <section
    class="row py-4 px-3 mx-1 border border-1 border-light shadow card flex-row mb-5"
  >
    <header class="col-12 col-lg-6 order-lg-1">
      <img
        src="/images/illustration-grow-together.svg"
        alt=""
        class="img-fluid"
      />
    </header>
    <div
      class="col-12 col-lg-6 order-lg-0 d-flex flex-column justify-content-center mt-3"
    >
      <h2 class="fw-bold mt-4">Grow Together</h2>
      <p class="my-3 my-lg-3 lh-sm fs-5 text-muted">
        Generate meaningful discussions with your audience and build a strong,
        loyal community. Think of the insightful conversations you miss out on
        with a feedback form.
      </p>
    </div>
  </section>

  <section
    class="row py-4 px-3 mx-1 border border-1 border-light shadow card flex-row mb-5"
  >
    <header class="col-12 col-lg-6">
      <img
        src="/images/illustration-flowing-conversation.svg"
        alt=""
        class="img-fluid"
      />
    </header>
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center mt-3">
      <h2 class="fw-bold mt-4">Flowing Conversations</h2>
      <p class="my-3 my-lg-3 lh-sm fs-5 text-muted">
        You wouldn't paginate a conversation in real life, so why do it online?
        Our threads have just-in-time loading for a more natural flow.
      </p>
    </div>
  </section>

  <section
    class="row py-4 px-3 mx-1 border border-1 border-light shadow card flex-row mb-5"
  >
    <header class="col-12 col-lg-6 order-lg-1">
      <img src="/images/illustration-your-users.svg" alt="" class="img-fluid" />
    </header>
    <div
      class="col-12 col-lg-6 order-lg-0 d-flex flex-column justify-content-center mt-3"
    >
      <h2 class="fw-bold mt-4">Your Users</h2>
      <p class="my-3 my-lg-3 lh-sm fs-5 text-muted">
        It takes no time at all to integrate Huddle with your app's
        authentication solution. This means, once signed in to your app, your
        users can start chatting immediately.
      </p>
    </div>
  </section>
</article>
