<header class="container-fluid hero py-4 px-1 px-xxl-4">
  <nav class="navbar row mx-1">
    <div class="col-5 col-sm-3 col-lg-2 col-xxl-2">
      <a class="navbar-brand" href="/index.html">
        <img
          src="/images/logo.svg"
          alt="Huddle"
          class="d-inline-block align-text-top img-fluid logo"
        />
      </a>
    </div>
    <div class="col-4 col-sm-3 col-lg-2 col-xxl-1 px-0">
      <a
        href="/index.html"
        class="btn btn-sm btn-light fw-bold shadow bg-white text-nowrap rounded-pill px-4 px-md-5 py-md-2 px-xxl-4"
        >Try it Free</a
      >
    </div>
  </nav>

  <section class="container-xxl mt-5 mx-0 row mx-auto">
    <div class="col-12 col-lg-6 p-3 header">
      <h1 class="display-6 fw-bolder lh-base">
        Build The Community Your Fans Will Love
      </h1>
      <p class="my-4 fs-4 lh-sm">
        Huddle re-imagines the way we build communities. You have a voice,
        but so does your audience. Create connections with your users as you
        engage in genuine discussion.
      </p>
      <div
        class="d-grid gap-2 col-11 mx-auto my-5 d-flex justify-content-center justify-content-lg-start mx-lg-0"
      >
        <a
          href="/index.html"
          class="btn btn-primary rounded-pill py-3 hero-button border-0 btn-outline-light"
          >Get Started For Free</a
        >
      </div>
    </div>
    <div class="col-12 col-lg-6 hero-image py-3">
      <img
        src="/images/illustration-mockups.svg"
        alt="hero image"
        class="img-fluid"
      />
    </div>
  </section>
</header>